html body {
    background-color: black;
}

.welcome__content {
    display: flex;
    justify-content: center;
    margin: 6em;
}

.about__content {
    display: flex;
    justify-content: center;
    margin: 5em;
    margin-bottom: 2em;
}

.about__content--second{
    display: flex;
    justify-content: center;
    margin: -2em;
}

.begin__button {
    display: flex;
    justify-content: center;
    margin: 5em;
}