.container__spellbook-cards {
    height: 500px;
    width: auto;
}

.carousel {
    height: 100%;
    
}

.carousel__item {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
.carousel-inner img {
    margin-left: 38%;
    height: 65%;
}
.practiceButton {
    position: absolute;
    top: 66%;
    left: 47%;
}
.title-description {
    font-family: 'Cinzel Decorative', serif;
    margin: -1em;
}