
.canvas__container {
    position: static;
    
}

/* .body, html {
    background-color: black !important;
} */


.useSpell__background {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    top: 0;
     background: url(http://images.fandango.com/images/fandangoblog/hogwartsschoolpotter.jpg) no-repeat 50% 50%; 
}  

.directions {
    font-family: 'raleway', serif;
    color: white;  
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    }

.useSpell__directions {

}

/* .canvasUseSpell {
    top: 10;
    left: 20em;
    position: absolute;
    border: 3px solid #73AD21; 
}

.canvasCursor{
    top: 10;
    left: 20em;
    position: absolute;
    border: 3px solid lightblue; 
} */


