/* .canvas__container {
    
}  */

/* .canvas__cursor{
    /* width: 100%; */
    /* top: 15;
    left: 0;
    position: absolute;
    border: 3px solid pink; */
    /* margin: 20%; */
/* }  */

/* .canvas__useSpell {
    width: 50%;
    top: 0;
    left: 0;
    position: absolute;
    border: 3px solid #73AD21;
} */

.canvas__container {
    position: static;
    
}


.canvasUseSpell {
    top: 10;
    left: 20em;
    position: absolute;
    border: 3px solid #73AD21; 
}

.canvasCursor{
    top: 10;
    left: 20em;
    position: absolute;
    border: 3px solid lightblue; 
}


