html body {
    background-color: black
}

.heading{
font-family: 'Cinzel Decorative', serif;
color: white;
display: flex;
justify-content: center;
}

.directions {
font-family: 'raleway', serif;
color: white;  
display: flex;
justify-content: center;
}

.canvas__container {
display: flex;
justify-content: center;
}