html body {
    background-color: black;
}

.heading{
font-family: 'Cinzel Decorative', serif;
color: white;
font-size: 30px;
display: flex;
justify-content: center;
margin: 40px 0 0 auto;
}

.directions {
font-family: 'raleway', serif;
color: white;  
display: flex;
justify-content: center;
margin-bottom: 0;
}

.canvas__container {
display: flex;
justify-content: center;
}